@charset "utf-8";
/* CSS Document */
body
{
  text-align:center;
  background-color:#FFF;
  color:#000;
  font-family:微软雅黑,Tahoma,Arial;
  padding:0px;
  margin:0px;
}
h1
{
  background-color:#09C;
  color:#FFF;
  font-size:40px;
  font-weight:normal;
  padding:60px 20px 5px 20px;
}
th
{
	text-align:left;
	font-weight: 400;
}
tr
{
	height:50px;
}
table
{
	margin: 20px auto;
}

#subm_btn
{
	width:120px;
	font-family:微软雅黑,Tahoma,Arial;
	padding:5px 30px;
	font-size:18px;
    border:1px solid hsla(180,50%,99%,0);
    border-width: 0px 0px 1px 0px;
	border-radius:5px;
	background-color:hsla(0,50%,50%,0);
	color:#fff;
}
.main_bg_pic
{
	top:0;
	z-index: -5;
	position: absolute;
	overflow: hidden;
	width:100%;
	height:100%;
	background-color:#000;
}
.bg_pic_img
{
	position:relative;width:100%
}