/*advcss_addr.css*/
#advcss_platform
{
	background-color:#EDC9DC;
	min-height:300px;
}
#advcss_platform button
{
	min-width: 90px;
	min-height:30px;
	border-radius: 50px;
	border:0px solid #fff;
	background-color: #FFF;
}
#jstb form
{
	display:inline-block;
}
.escaladeId
{
	width:90px;
}
.provinceId
{
	width:80px;
}
.cityId
{
	width:80px;
}
.district
{
	border:0px solid #FFF;
	border-radius: 5px;
	margin:2px;
	background-color: #FFF;
	padding:3px;
	width:70px;
}
.zip
{
	border:0px solid #FFF;
	border-radius: 5px;
	margin:2px;
	background-color: #FFF;
	padding:3px;
	width:60px;
}
.cargoAddress
{
	border:0px solid #FFF;
	border-radius: 5px;
	margin:2px;
	background-color: #FFF;
	padding:3px;
	width:200px;
}
#control
{
	height:300px;
	overflow-y: scroll;
}