
<div id='{{ task }}_task_guide_bar' class='task_guide_bar'>
	<a href='/authset?taskname={{task}}&list=sf' >
		<div id='{{ task }}_myapplication_btn' class='auth_task_guide_btn' title='A list of authorization applications you made' style='display:inline-block;'> My Applications </div>
	</a>
	<a href='/authset?taskname={{task}}&list=review'>
		<div id='{{ task }}_myapplication_btn' class='auth_task_guide_btn' style='display:inline-block;'> See All </div>
	</a>
	<a href='/authset?taskname={{task}}&list=await'>
		<div id='{{ task }}_myapplication_btn' class='auth_task_guide_btn' style='display:inline-block;'> Yours to Approve </div>
	</a>
	<a href='/authset?taskname={{task}}'>
		<div id='{{ task }}_myapplication_btn' class='auth_task_guide_btn' style='display:inline-block;'> + New Application </div>
	</a>
</div>