<table id='ca_detail_table_{{mid}}'>

{% if detail.log.error %}
	<tr>
		<th>验证报错</th><td style="color:red">{% for e in detail.log.error %}<div>{{e}}</div>{% endfor %}</td>
	</tr>
{% endif %}
	<tr>
		<th>MongoID</th><td style="color:#777">{{mid}}</td>
	</tr><tr>
		<th>Admin A/C</th><td class='alter' data-fpath='admin'>{{detail.admin}}</td>
	</tr><tr>
		<th>Client Name</th><td class='alter' data-fpath='clientname'>{{detail.clientname}}</td>
	</tr><tr>
		<th>Province</th><td class='alter' data-fpath='province'>{{detail.province}}</td>
	</tr><tr>
		<th>City</th><td class='alter' data-fpath='city'>{{detail.city}}</td>
	</tr><tr>
		<th>Area</th><td class='alter' data-fpath='area'>{{detail.area}}</td>
	</tr><tr>
		<th>Zip Code</th><td class='alter' data-fpath='zip'>{{detail.zip}}</td>
	</tr><tr>
		<th>Detailed Address</th><td class='alter' data-fpath='address'>{{detail.address}}</td>
	</tr><tr>
		<th>Frequently Used?</th><td class='alter' data-fpath='frequent'>{{detail.frequent}}</td>
	</tr>	<tr>
		<th>Upload Time</th><td  data-fpath='log.uptime'>{{detail.log.uptime}}</td>
	</tr><tr>
		<th>Upload User</th><td data-fpath='log.upsu'>{{detail.log.upsu}}</td>
	</tr><tr>
		<th>User IP</th><td data-fpath='log.upip'>{{detail.log.upip}}</td>
	</tr>
</table>

<script type="text/javascript">
	$(document).ready(function(){
		$('#ca_detail_table_{{mid}} .alter').dblclick(function(){
			var orv=$(this).text()
			var ipt=document.createElement("input")
			var btn=document.createElement("button")
			ipt.value=orv
			ipt.id="{{mid}}"+$(this).data("fpath")
			$(this).html(ipt)
			$(this).append(btn)
			$(btn).html("OK")
			$(btn).click({"mid":"{{mid}}","fpath":$(this).data("fpath")},function(e){
				var chval=$("#"+e.data.mid+e.data.fpath).val();
				var dt={};
				dt.md="changeval";
				dt.mid=e.data.mid;
				dt.fpath=e.data.fpath;
				dt.chval=chval;
				console.log(dt)
				$.ajax({
					url:"cssadvjs",
					data:dt,
					async:false,
					method:"GET",
					success:function(){
						console.log("#detail_"+dt.mid)
						$("#detail_"+dt.mid).click()
					}
				})
			})
		})
	})
</script>