<style type="text/css">
.process_list_link
{
	display: inline-block;
	width:200px;
	height:35px;
	color:#396C8A;
	font-size: 20px;
}
a:link
{
	text-decoration: none;
	color:#396C8A;
}
a:visited
{
	text-decoration: none;
	color:#396C8A;
}

</style>
<h1 style='color:#396C8A;'>申请服务中心</h1>

<div>
	<div class='process_list_link'>
	<a href='/process?list=sf'>我递交的申请</a>
	</div>
	<div class='process_list_link'>
	<a href='/process?list=await'>待我审批
	{% if await_count > 0 %}
	({{ await_count}})
	{% endif %}
	</a>
	</div>
	<div class='process_list_link'>
	<a href='/process?list=review'>与我有关的申请</a>
	</div>
</div>
<script type='text/javascript'>
$(".process_list_link").hover(function(){
	$(this).css("font-weight","800")
	$(this).css("box-shadow","0px 10px 10px -10px #09c")
})
$(".process_list_link").mouseleave(function(){
	$(this).css("font-weight","400")
	$(this).css("box-shadow","0px 0px 0px 0px #fff")
})
</script>